<h4>Sign Up (New Users)</h4>

<div id="new-login"> <!-- added from Sign In page - new.html.erb -->
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

    <div class="field"><br>
      <%= f.label :email, "Email: " %><br>
      <%= f.email_field :email, autofocus: true %>
    </div><br>

    <div class="field">
      <%= f.label :password, "Password: " %><br>
      <!-- <% if @minimum_password_length %>
      <p>(<%= @minimum_password_length %> characters min)</p> -->
      <% end %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div><br>

    <div class="field">
      <%= f.label :password_confirmation, "Confirm Password: " %><br>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div><br>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>


  <%= render "devise/shared/links" %>

  </div>