<div class = "comp-list">
<br>
<ul>
    <% @computers.each do |computer| %>
      <li>
          <%= computer.name %>
          |
          <%= link_to 'Assess' %>
          |
          <%= link_to 'Edit' %>
          |
          <%= link_to 'Remove', method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
</ul>
<br>
</div>
<br>
<h4><%=link_to "Add a Computer", new_computer_path %></h4>
