<div class = "comp-list">
<br>
  <ul>
    <% @computers.each do |computer| %>
      <li>
          <%= computer.name %>
          |
          <%= link_to 'Assess', assessments_path %>
          |
          <%= link_to 'Edit', edit_computer_path(computer) %>
          |
          <% # Consider refactoring the code below to confirm the user's Remove request, %>
          <% # but without a pop-up - i.e. flash message: http://bit.ly/1T0Zkbw%>
          <%= link_to 'Remove', computer, method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
  </ul>
<br>
</div>
<br>
<h4><%=link_to "Add a Computer", new_computer_path %></h4>
