<div class = "comp-list">
<br>
  <ul id="comp-li">
    <% @computers.each do |computer| %>
      <li>
          <%= computer.name %>
          |
          <%= link_to 'Assess', new_computer_assessment_path(computer) %>
          |
          <%= link_to 'Edit', edit_computer_path(computer) %>
          |
          <%= link_to 'Remove', computer, method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
  </ul>
<br>
</div>
<br><br>
<div id="btns-main"><%=link_to "Add a Computer", new_computer_path %></div><br><br>
