<h2>computers index page</h2>

<%= form_for([current_user, current_user.computers.build]) do |f| %>
  <p>
    <%= f.label :body %><br>
    <%= f.text_field :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<ul>
  <% @computers.each do |computer| %>
  <li><%= computer.body %></li>
  <% end %>
</ul>
