<div id="create-items">
  <h4> Computer Name:  <%= @computer.name %></h4>
  <h4>Total Assessment Score: <%= @computer.score %></h4>
  <h4>(No Risk = Score: 0)</h4>
</div>

<div id="assess-items">
  <ul id="assess-li">
    <% assessments =  @computer.assessments %>
    <% assessments.each do |assessment| %>
      <li>
          <%= assessment.name %> -
          <%= assessment.score %>
      </li>
    <% end %>
  </ul>
</div><br><br>
<div id="btns-main" class="back-to-quiz">
  <%= link_to "Back to Assessments", new_computer_assessment_path(@computer) %>
</div><br>
