<!DOCTYPE html>
<html>
<head>
  <title>TechAssess</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <h3>TechAssess</h3>
  	  <ul id="nav">
  			<li><a href="/">Home</a></li>
  			<!-- <li><a href="/">About</a></li> -->
  			<li><a href="mailto:kristin.promos@icloud.com">Contact</a></li>
        <li><a href="/computers">My Computers</a></li>
        <% if current_user %>
          <li><%= link_to "Signout ( #{current_user.email} )", destroy_user_session_path, :method => :delete %></li>
        <% end %>
  	  </ul>
  </div>
  <p class="notice" style="color:#a90f27"><%= notice %></p> <!-- added per devise instructions -->
    <br>
  <p class="alert" style="color:#a90f27"><%= alert %></p> <!-- added per devise instructions -->

<%= yield %>

</body>
</html>
